
<a href="/edit-blog/{{id}}" class="blog-card-link">
  <div class="blog-card">
    <div class="card-header">
      <h2 class="post-title">{{title}}
        <p>{{posted_date}}</p>
      </h2>
      
    </div>
  </div>
</a>