<div class="box-card">
  <h2 class="page-title">Create Post</h2>
  <form class="form create-form">
    <div class="form-group">
      <label for="blog-title">Title</label>
      <input class="form-input" type="text" id="blog-title" value="{{blog.title}}"/>
    </div>
    <div class="form-group">
      <label for="blog-content">Content</label>
      <input class="form-input" type="text" id="blog-content" value="{{blog.content}}"/>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Create</button>
    </div>
  </form>
</div>

<script src="/js/create-blog.js"></script>