{{#each blogs as |blog|}}
{{> dashboard-blog-details}}
{{/each}}


<div class="form-create">
        <a href="/create-blog">+ New Post</a>
        {{!-- <button class="btn btn-primary" type="submit">+ New Post</button> --}}
      </div>

